@import 'semantic-ui';

.chatbox {
  height: 450px;
}

.big-signup-button {
  background-color: #F6BC9F !important;
  color: white !important;
}

.big-signup-button:hover {
  background-color: #F27127 !important;
}

#messages {
  height: 15em;
  overflow: auto;
}